/*  your css code here. If applicable */
.container{
	width:1100px;
}
.imageContainer{
	width:500px;
	display:inline-block;
}
.imageContainer img{
	max-width:100%;
	height:auto;
}
 table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
}

.firstColumn, .lastColumn {
    width: 200px;
}

.middleColumn {
    width: 600px;
}

.text {
    padding: 10px;
}